<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>openMarchante</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header id="barsup"><!-- Considerar este encabezado como una barra de estado superior
    -->
      <aside id="moneda">$v</aside>
      <nav id="menuStat" >Tel | User | Deseos | Carrito | Salir | </nav>
      <div class="reset">
      </div>
  </header>
  <article>
    <header>
      <img src="img/logo.jpg" alt="logo"/>
      <form action="index.html" method="get">
        <input type="text" name"palabras" required placeholder="haga una busqueda">
        <input type="submit" value="[icon]"
      </form>
      <aside id="carStatus">
        [icon]0 item(s)- $0.00
      </aside>
      </header>
      <nav>
        <ul>
          <li>Desktops
            <ul>
            <li>PC (0)</li>
            <li>MAC (1)</li>
            <li class="sep"></li>
            <li>ver todo</li>
        </ul>
      </li>
      <li>
        <ul>
        <li>PC (0)</li>
        <li>MAC (1)</li>
        <li class="sep"></li>
        <li>ver todo</li>
    </ul>
  </li>
    </ul>


      </nav>
      <header id="ruta">
        [icon house|inicio]> Laptops y Notebooks>
      </header>
      <section>
        <div id="baner">
          colocar imagen del tamaño del banner
        </div>
      <div id="ofertas">
        <h3>Ofertas</h3>
        <aside><!-- Este Aside muestra un producto-->
            <img src="img/productos/0001.jpg" alt="macbook"/>
            <h4>MacBook</h4>
            <p> Descripicon del equipo</P>
            <p><strong>$602</strong></p>
            <div class="barinf">
              <aside>[icon cart] Adicionar a carrito</aside>
              <aside>[icon heart] Adicionar a la lista de deseos</aside>
            </div>
          </aside>
          <aside><!-- Este Aside muestra un producto-->
              <img src="img/productos/0002.jpg" alt="monitor"/>
              <h4>Monitor</h4>
              <p> Descripicon del equipo</P>
              <p><strong>$1002</strong></p>
              <div class="barinf">
                <aside>[icon cart] Adicionar a carrito</aside>
                <aside>[icon heart] Adicionar a la lista de deseos</aside>
              </div>
            </aside>
            <aside><!-- Este Aside muestra un producto-->
                <img src="img/productos/0003.jpg" alt="camara"/>
                <h4>Camara</h4>
                <p> Descripicon del equipo</P>
                <p><strong>$1002</strong></p>
                <div class="barinf">
                  <aside>[icon cart] Adicionar a carrito</aside>
                  <aside>[icon heart] Adicionar a la lista de deseos</aside>
                </div>
              </aside>
              <aside><!-- Este Aside muestra un producto-->
                  <img src="img/productos/0004.jpg" alt="impresora"/>
                  <h4>Impresora</h4>
                  <p> Descripicon del equipo</P>
                  <p><strong>$1002</strong></p>
                  <div class="barinf">
                    <aside>[icon cart] Adicionar a carrito</aside>
                    <aside>[icon heart] Adicionar a la lista de deseos</aside>
                  </div>
                </aside>
      </div>
      <div id="marcas"><!-- este es un slide de marcas-->
        <div>
          <img src="img/marcas/001.jpg" alt="marca 1"/>
          <img src="img/marcas/001.jpg" alt="marca 1"/>
          <img src="img/marcas/001.jpg" alt="marca 1"/>
        </div>
      </div>
      </section>
  </article>
  <footer>
    <aside>
      <h3>Información</h3>
      <ul>
        <li> Acerca de </li>
        <li> Delivery Information</li>
        <li> Privacy Policy</li>
        <li> Terms & Conditions</li>
      </ul>
    </aside>
    <aside>
      <h3>Customer Service</h3>
      <ul>
      <li>Contact Us</li>
      <li>Returns</li>
      <li>Site Map</li>
    </ul>
    </aside>
    <aside>
      <h3>Extra</h3>
      <ul>
      <li>Marca</li>
      <li>Sugerencias</li>
      <li>Afiliado</li>
      <li>Especiales</li>
    </ul>
    </aside>
    <aside>
      <h3>Mi cuenta</h3>
      <ul>
      <li>..</li>
      <li>..</li>
      <li>..</li>
      <li>..</li>
    </ul>
    </aside>

  </footer>
  <script>
  </script>
  </body>
</html>
