<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>openMarchante</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="css/responsiveslides.css"/>
    
    
  </head>
  <body>
    <header id="barsup"><!-- Considerar este encabezado como una barra de estado superior
    -->
      <aside id="moneda">$ Moneda <i class="fa fa-caret-down"></i></aside>
      <nav id="menuStat" ><a href="contacto.html"> <i class="fa fa-phone"></i> 55 50 51 53</a>
        <a href="login.html"><i class="fa fa-user"></i> User  </a><a href="lista-deseos.html"> <i class="fa fa-heart"></i> Deseos </a>
        <a href="lista-productos-carrito.html"><i class="fa fa-shopping-cart"></i> Carrito</a> <a href="login.html"><i class="fa fa-sign-out"></i> Salir</a>
      </nav><!-- Termina NAV menuStat-->
      <div class="reset">
      </div>
  </header>
  <article>
    <header>
      <a href="index.php"><img src="img/logo268x51.png" alt="OpenMarchante-logo"/>
 </a>
      <aside id="carStatus">
        <i class="fa fa-shopping-cart"></i> 0 item(s)-$0.00
      </aside>
      <form action="index.html" method="get">
        <input id="busqueda" type="text" name="palabras"
        required placeholder="haga una búsqueda"/><button id="submit"
        type="submit"><i class="fa fa-search"></i></button>
      </form>

      </header>
      <nav id="menuPrin">
        <ul>
          <li><a href="nosotros.html">Nosotros</a>
            <ul>
            <li><a href="hacemos.html">Qué hacemos </li></a>
            <li><a href="somos.html">Quiénes somos </li></a>
            <li><a href="valores.html">Valores </li></a>
            <li class="sep"></li>
            <li><a href="nosotros.html">ver todo</li></a>
          </ul>
      </li>
      <ul>
      <li><a href="lista-productos.html">Destinos</a>
        <ul>
        <li><a href="lista-productos.html">América del Norte</li></a>
        <li><a href="lista-productos.html">América Latina</li></a>
        <li><a href="lista-productos.html">Europa</li></a>
        <li><a href="lista-productos.html">Asia</li></a>
        <li><a href="lista-productos.html">África</li></a>
        <li><a href="lista-productos.html">Oceania</li></a>
        <li class="sep"></li></a>
        <li><a href="lista-productos.html">ver todo</li></a>
        </ul>
      </li>
    </ul>
    <ul>
    <li><a href="lista-categorias.html">Servicios</a>
      <ul>
      <li><a href="ofertas.html">Ofertas</li></a>
      <li><a href="lista-categorias.html">Vuelos</li></a>
      <li><a href="lista-categorias.html">Hoteles</li></a>
      <li><a href="lista-categorias.html">Paquetes</li></a>
      <li><a href="lista-categorias.html">Seguros</li></a>
      <li class="sep"></li></a>
      <li><a href="lista-categorias.html">ver todo</li></a>
      </ul>
    </li>
  </ul>
    <div class="reset"></div>
      </nav><!--termina menúPrin-->
      <header id="ruta">
        [icon house|inicio]> Nosotros>
      </header>
      
      
      
      
      <article class="describe">
           <h3>Destinos</h3>
            <a href="producto-descripcion.html"><img src="img/productos/0.jpg" alt="NY"/></a>
            <h4><a href="producto-descripcion.html">New York, EUA</a></h4>
            <p>Viaja 8 días a Washington , Niágara , Nueva York</p>
            
            <p><strong>$17,116.00 MXN</strong></p>
            
            <div class="barinf">
            <a href="lista-productos-carrito.html"><i class="fa fa-shopping-cart"></i></a>
            <a href="lista-deseos.html"><i class="fa fa-heart"></i> </a>
            </div>
            
           <p> DÍA 01 MÉXICO – WASHINGTON ( Domingo ) Día libre + vuelo</p>
            <p> DÍA 02 WASHINGTON ( Lunes ) Día libre + Sugerencia Mont Vernon y Alexandria. </p>
            <p> DÍA 03 WASHINGTON ( Martes ) Desayuno americano + Visita panorámica al Cementerio de Arlington + Casa Blanca (sin entrada)+ la Avenida Pennsylvania y el Capitolio + Tarde libre</p>
            <p> DÍA 04 WASHINGTON - CATARATAS DEL NIÁGARA ( Miércoles ) 
            Desayuno americano + Salida hacia Canadá + Durante el viaje se cruzan los montes Apalaches</p> 
                <p> DÍA 05 CATARATAS DEL NIÁGARA - NUEVA YORK ( Jueves ) Desayuno americano + (con Visa) Parque de la Reina Victoria + Reloj floral. (sin Visa) Maid of the Mist + Isla de la Cabra + The Niagara Gorge Discovery Center + Aerospace Museum + regreso a Nueva York.</p> 
                <p> DÍA 06 NUEVA YORK ( Viernes ) Recorrido panorámico de Times Square + Broadway + Avenida de las Américas + Lincoln Center + Parque Central + Edificio Dakota + Barrio Harlem + 5ta. Avenida: museos Metropolitano + Guggenheim + Catedral de San Patricio + Rockefeller Center + Empire State Building + Naciones Unidas.</p>
                <p> DÍA 07 NUEVA YORK ( Sábado ) Día libre </p>
                <p> DÍA 08 NUEVA YORK - MÉXICO ( Domingo ) 
                Día libre hasta la hora indicada para el traslado al aeropuerto para tomar vuelo regular con destino a México.</p>
                
                <div class="reset"></div>
           
 
       </article><!--termina describe-->
      
      
      
          
     
      <div id="marcas"><!-- este es un slide de marcas-->
        <div>
          <img src="img/marcas/Aeromexico-Logo130x132.png" alt="aeromexico"/>
          <img src="img/marcas/air%20canada%20logo130x130.png" alt="air Canada"/>
          <img src="img/marcas/Air-France-Logo%20130x24.png" alt="AirFrance"/>
          <img src="img/marcas/burj-al-arab-logo-130x130.jpg" alt="hotel"/>
          <img src="img/marcas/Logo%20Hotel%20de%20Glace%20130x95.jpg" alt="Hotel"/>
          <img src="img/marcas/TAM-Airlines-130x46.png" alt="TAM"/>
          <img src="img/marcas/United_Airlines_earth-logo-130x130.png" alt="United Airlines"/>
        </div>
      </div>
      </section>
  </article>
  <footer>
    <section>
    <aside>
      <h3>Información</h3>
      <ul>
          <li><a href="login.html">Acerca de</a></li>
          <li><a href="login.html">Delivery Information</a></li>
          <li><a href="login.html">Privacy Policy</a></li>
          <li><a href="login.html">Terms & Conditions</a></li>
        </ul>
    </aside>
    <aside>
      <h3>Customer Service</h3>
      <ul>
          <li><a href="login.html">Contact Us</a></li>
          <li><a href="index.php">Returns</a></li>
          <li><a href="login.html">Site Map</a></li>
    </ul>
    </aside>
    <aside>
      <h3>Extras</h3>
      <ul>
          <li><a href="http://www.despegar.com.mx/">Despegar.com</a></li>
          <li><a href="http://www.mundotravel.es/">Mundo travel</a></li>
          <li><a href="http://www.bestday.com.mx/">BestDay</a></li>
          <li><a href="http://mundojoven.com/">Mundo Joven</a></li>
    </ul>
    </aside>
    <aside class="ultimo">
      <h3>Mi cuenta</h3>
      <ul>
        <li><a href="login.html">Login</a></li>
        <li><a href="registro.html">Registrar nuevo usuario</a></li>
        <li><a href="lista-deseos.html">Lista de deseos</a></li>
        <li><a href="lista-compras.html">Lista de compras</a></li>
    </ul>
    </aside>
    <div class="reset">
    </div>
    <hr/>
    <p>Power By OpenMarchante: got it!<br/>
      Your Store, CopyLeft 2015</p>
  </section>
  </footer>
  <script>
  </script>
  </body>
</html>