/* css/main.css */
body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    background-image: url("../img/tumblr_static_whitebrick2.jpg");
    background-repeat: no-repeat; /*hace que la imagen no se repita*/
    background-attachment:fixed; /*hace que la imagen no se desplace cuando bajamos en la pag*/
    background-position: center 0px; /*hace que la imagen siempre este centrada, sin importar el tamaño de la ventana*/
    background-size: 100% 100%; /*hace q la imagen quede al tamaño de la ventana*/
    text-align: center;
    
}

div {
    position: relative;
    padding: 10px;
}

/**Formato de section Mapa**/
section {
    position: absolute;
}

section iframe { /*se asigna un ancho al mapa*/
    width: 320px;
}

/**Formato de section**/

/**Formato de aside Imagen**/

aside {  
    right: 350px;
    position: absolute;
    margin: 10px 10px;
}

aside img {
    width: 320px;
    /*background-color: red;*/
    
}
/**Formato de aside Imagen**/

/**Formato de article Datos de contacto**/
article {
    width: 320;
    margin: 10px 10px;
    right: 10px;
    position: absolute;
    text-align: left;
    
} 

article nav {
    
    top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
article nav a {
    
    text-decoration: none;
    color: deeppink;
    
}

article  label { /*se da un formato a las etiquetas*/
    display: inline-block;
    width: 100px; /*para el texto*/</strong>
    text-align: left;
    background-color: aquamarine;
}

article input {
    width: 320px;
    margin-bottom: 5px;
}

article input#submit { /*da formato al boton enviar*/
    width: 100px;
    background-color: yellow;
    
}

article textarea {
    width: 320px;
}
/**Formato de article Datos de contacto**/

aside footer {
    width: 320px; 
    background-color: cadetblue;
}







/* menú inicio */

    header {
        width:680px;
        margin:0 auto;	
        position:relative;
        padding:50px 0px;
    }
    header nav#topmenu ul {
        margin:0;
        padding:0;
    }
    header nav#topmenu ul li {
        float:left;
        font-size:10px;	
        list-style:none;
        position:relative;
        text-align:center;
        text-transform:uppercase;
        width:80px;
        margin:0 16px;	
        line-height:30px;
    }
    header nav#topmenu ul li a {
        color:#FF00BF;	
        text-decoration:none;
    }
    header nav#topmenu ul li a:hover {
        color:#888;	
    }
    header nav#topmenu ul li.active {
        color:#fff;	
    }
/* termina menú- pág de inicio +/