@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9nk3l7');
	src:url('fonts/icomoon.eot?#iefix9nk3l7') format('embedded-opentype'),
		url('fonts/icomoon.ttf?9nk3l7') format('truetype'),
		url('fonts/icomoon.woff?9nk3l7') format('woff'),
		url('fonts/icomoon.svg?9nk3l7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
	content: "\ea1c";
}
.icon-pause2:before {
	content: "\ea1d";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-mail:before {
	content: "\ea83";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-vimeo2:before {
	content: "\ea9d";
}
.icon-wordpress2:before {
	content: "\eab7";
}
.icon-tumblr2:before {
	content: "\eabc";
}
.icon-soundcloud2:before {
	content: "\eac5";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-pinterest2:before {
	content: "\ead1";
}
