/*main.css */

body{
    margin: 0px auto;
    padding: 0px auto;
    font-family: Brixton; 
    text-align: inherit;
    color: #000;
    background-image: url("../img/background.jpg");
     background-repeat: no-repeat; /*hace que la imagen no se repita*/
    background-attachment:fixed; /*hace que la imagen no se desplace cuando bajamos en la pag*/
    background-position: center 0px; /*hace que la imagen siempre este centrada, sin importar el tamaño de la ventana*/
    background-size: 100% 100%; /*hace q la imagen quede al tamaño de la ventana*/
   -webkit- background-size: 100% 100%;
    -moz-background-size: 100% 100%; 
    -ms-background-size: 100% 100%; 
    -o-background-size: 100% 100%; 
    background-size: 100% 100%; /*hace q la imagen quede al tamaño de la ventana*/
    
}
div#inicio {
    margin-left: auto;
    margin-right: auto;
}

/* index*/
    article p#we, p#design {
        font-size: 400px;
    }
    article p#we {
        position: absolute;
        top: 0px;
        left: 50px;
    }
    article p#design {
        top: 420px;
        left: 50px;
        position: absolute;
    }
    article .img {
        position: absolute;
        top: 10px;
        left: 880px;
    }
    article .img{
        width: 406px; 
        height: 400px; 
        background: url("../img/manzanainicio.png");
        } 
    article .img:hover { 
        width: 406px; 
        height: 400px; 
        background: url("../img/verde.png"); 
        } 
    article .img a {
        position: absolute;
        color: #fff;
        top: 220px;
        left: 180px;
        text-decoration: none;
        }
/* termina index*/

/* inicio */

    header {
        width:680px;
        margin:0 auto;	
        position:relative;
        padding:50px 0px;
    }
    header nav#topmenu ul {
        margin:0;
        padding:0;
    }
    header nav#topmenu ul li {
        float:left;
        font-size:10px;	
        list-style:none;
        position:relative;
        text-align:center;
        text-transform:uppercase;
        width:80px;
        margin:0 16px;	
        line-height:30px;
    }
    header nav#topmenu ul li a {
        color:#FF00BF;	
        text-decoration:none;
    }
    header nav#topmenu ul li a:hover {
        color:#888;	
    }
    header nav#topmenu ul li.active {
        color:#fff;	
    }
/* termina menú- pág de inicio +/





/*workbook*/

    *{
        margin: 0;
        padding: 0;
    }
    .main {
        width: 90%;
        min-width: 1194px;
        margin: 20px auto;
        position: relative;
        text-decoration: none;

        }
    .slides {
        width: 100%;
    }
    .slides img {
        width: 100%;   
    }
    .slidesjs-pagination{
        background: #FF00BF;
        list-style: none;
        overflow: hidden;
        text-decoration: none;
    }
    .slidesjs-pagination li{
        float: left;
    }
    .slidesjs-pagination li a{
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }
    .slidesjs-pagination li a:hover{
        background: #FFf;
    }

    .slides .active {
        background: #f8f;
    }
    .slidesjs-navigation{
        background: #FF00BF;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        float: right;
    }

/*termina workbook*/
