/* css/main.css*/
body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Roboto;
}
header#barsup{
  background-color: #eee;
  color:#333;
  width: 100%;
  padding: 5px 0px;
  font-size: 12px;
}
aside#moneda{
  float: left;
  margin-left: 50px;
}
nav#menuStat{
    float: right;
    margin-right: 50px;
    text-decoration:none;
}
/**Estilos para el header del contenido principal**/
article {
  width: 960px;
  margin: 0px auto;
  margin-top: 20px;
}
article header form{
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 400px;
  float: right;
}
article header form input{
  height: 38px;
  padding-right: 8px;
  padding-left: 8px;
}
input#busqueda{
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #999;
    outline: 0px;

}
input#busqueda:focus{
  border: 1px solid #222;
  box-shadow: 0px 0px 3px #333;
}

button#submit{
  width: 76px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #999;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 42px;
}
button#submit:hover{
  border: 1px solid #999;
}
aside#carStatus{
  border-radius: 8px;
  background-color: #333;
  color: #eee;
  display: inline-block;
  padding: 1px 8px;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  width: 250px;
  text-align: center;
  float: right;
}
aside#carStatus:hover{
  background-color: #222;
}
article nav#menuPrin{
  width: 100%;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #333;
  color: #eee;
  padding: 0px 10px;
  box-shadow: 0px 1px 2px #666;
  margin-bottom: 20px;
    }
article nav#menuPrin ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
    z-index: 100
}
article nav#menuPrin ul li{
  float: left;
  position: relative;
}
article nav#menuPrin ul li a{
  text-decoration: none;
  color: #eee;
  padding: 20px;
  display: inline-block;
  font-size: 12px;
}
article nav#menuPrin ul li a:hover{
  background-color: rgba(0,0,0,0.2);
}
/*Estilos para submenu*/
article nav#menuPrin ul li ul {
  margin: 0px;
  pading:0px;
  list-style: none;
  display: none;/* para no poder ver los sub menus*/
  position: absolute;
  width: 150px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #222;
  }
article nav#menuPrin ul li ul li{
  width: 150px;
  color: #222;
  background-color: #fff;
}
 article nav#menuPrin ul li ul li a{
   width: 120px;
   color: #222;
   background-color: #fff;
 }
 article nav#menuPrin ul li ul li a:hover{
   color: #eee;
   background-color: #999;
 }
article nav#menuPrin ul li ul li:hover{
  background-color: #333;
  color: #eee;
}
article nav#menuPrin ul li:hover ul{
  display: block;
}
li.sep{
  width: 100%;
  border: solid 0px #000;
  height: 1px;
  background-color: #ccc;
  margin: 0px;
  padding: 0px;
}
/*Estilos para la barra de ruta*/
header#ruta{
  display: none;
}
/***
Estilos para el contenido principal
**/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

 
div#baner { 
    box-shadow: 0px 1px 3px #666;
    width: 960px;
    overflow: hidden; 
}
div#baner figure img { 
    width: 20%; 
    /*float: left;*/
}
div#baner figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

/**
Estilos para la sección de oferta**/
hr {
    border-style: dotted;
    border-color: #666;
} 
div#ofertas, div#productos{
  width: 960px;
  height: 451px;
  margin: 0px auto;
  margin-top: 30px;
}
div#ofertas h3, div#productos h3, article.describe h3{
  font-weight: normal;
  text-align: center;
  text-decoration: none; /*no lo esta tomando en cuenta*/

}

div#ofertas aside, div#productos aside{
  width: 196px;
  height: 370px;
  float: left;
  margin-right: 15px;
  padding: 15px;
  position: relative;
text-decoration: none;
    text-align: center;
}
div#ofertas aside.ultimo, div#descripcion aside.ultimo{
  margin-right: 0px;
}
div#ofertas aside a, div#productos aside a{
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
div#ofertas aside a:hover, div#productos aside a:hover{
  color: #ccc;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
}

div#ofertas aside p, div#productos aside p{
  font-size: 13px;
  color: #666;
text-align: center;
}
div#ofertas aside div.barinf, div#productos aside div.barin, {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 37px;
}
div#ofertas aside div.barinf a, div#productos aside div.barinf{
  display: inline-block;
  height: 35px;
  width: 111px;
  background-color: #eee;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  color: #666;
  line-height: 35px;
}
div#ofertas aside div.barinf a:hover, div#productos aside div.barinf a:hover{
  background-color: #ccc;
  color: #444;
}

/*marcas:miniaturas*/

div#marcas{ 
    width: 960px;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #999;
}

div#marcas div { 
  position: relative;
  width: 100%;
  margin: 0px auto;
  align: left;
}

/**Estilos para el footer**/
footer{
  background-color: #333;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;    
}
footer section{
  width: 960px;
  margin: 0px auto;
}
footer section aside{
  float: left;
  width: 228px;
  margin-right: 15px;
  color: #fff;
  font-size: 12px;
}
footer section aside.ultimo{
  margin-right: 0px;
}
footer section aside ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  color: #ccc;
  text-decoration: none;
}
footer section hr{
  border: 0px solid #000;
  border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer section {
  font-size: 12px;
  color: #ccc;
}

/*lista de productos*/


/*termina lista de productos*/

/*inicia descripción de  productos*/
article.describe {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}

article.describe img {
    width: 100%;
}

article.describe div.barinf{
  display: inline-block;
  height: 35px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #666;
  line-height: 35px;
}
article.describe div.barinf a:hover{
    background-color: #ccc;
    color: #444;
    
}

/*termina descripcion de productos*/

/*detalle*/

#galeria, #galeria * 
{
    box-sizing:border-box, 
        -moz-box-sizing:border-box
}
/*el elemento con el id="galeria" y todos lo elementos dentro de este 
(#galeria *) aplique todos los estilos que se mencionan */

#galeria {
    border: 2px solid #EAEAEA;  /* Borde de la galería */
    padding: 0px;
    background: white;  /* Fondo de la galería */
    width: 50%;  /* Ancho de la galería */
    margin: 30px auto;
}

#imgGaleria {
    /*border: 1px solid #F2F2F2;  /* Borde de la imagen */
    /*padding: 3px;*/
    width: 100%; /* Ancho de la imagen */
}

section#miniaturas {
    width: 440px;
    height: 80px;
    margin: 0px auto;
    background-color: #ddd;
}

section#miniaturas aside {
    width: 20px;
    height: 53px;
    background-color: #ddd;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding-top: 27px;
    cursor: pointer;
}

section#miniaturas aside:hover {
    background-color: #eee;
}

aside#lboton, aside#rboton, section#slider {
    float: left;
}


/* Este elemento se encarga de mostrar sólo las miniaturas que se desean
   ya sean 5, 3, 1, 10 o las que se necesiten, sólo hay que hacer cuentas */
section#slider {
    /* si consideramos que cada imagen tiene 60px(ancho)+ 10px(margin) + 10px(padding) = 80px
       como sin 5 miniaturas a mostrar:  80px * 5 = 400px */
    width: 400px;
    height: 80px; /* se tiene que signar altura xq la capa #galeria_miniaturas es absolute */
    position: relative; /* esto es para servir de base para posicionar las miniaturas */
    overflow: hidden; /* se oculta todo lo que queda fuera de la capa slider */
}


div#galeria_miniaturas {
    /* si consideramos que cada imagen tiene 60px(ancho)+ 10px(margin) + 10px(padding) = 80px
       como sin 5 miniaturas a mostrar:  80px * 7 = 560px */
    width: 560px;
    position: absolute;
    top: 0px;
    left: 0px;
    -ms-transition: left 500ms;
    -moz-transition: left 500ms;
    -webkit-transition: left 500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
}


.miniatura {
    background-color: #fff;
    width:  60px;  /* Ancho de las miniaturas */
    height:  60px;  /* Alto de las miniaturas */
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.miniatura:hover {
    opacity:.8;   /* Opacidad */
    -moz-opacity:.8;
    -khtml-opacity:.8;
    filter:alpha(opacity=80); 
    /*es un filtro de internet explorer, para dar transparencia a un elemento*/
}
.miniatura:active {
    opacity:1;
    -moz-opacity:1;
    -khtml-opacity:1;
    filter:alpha(opacity=100);
}

div.reset {
    clear: both;
}
/*termina detalle*/
div#ofertas img{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
div#ofertas h4 a{
  padding-left: 15px;
  text-decoration: none;
  color: #23A1D1;

}
div#ofertas h4 a:hover{
  color: #0040FF;
}
div#ofertas p{
  padding-left: 15px;
  padding-right: 15px;
}
div.barinf{
  width: 228px;
  background-color: black;
}
div#ofertas aside.ultimo{
  margin-right: 0px;
}

/***
Estilos varios
**/
div.reset{
  clear: both;/* limpiar estilos de float
}
